@import url(../_global.scss);
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  transition: 10s, visibility 1s;
  z-index: 100;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

/*--- Arenda -----*/

.arenda {
  background: #f3f3f3;
}
.arenda__row__col2 {
  height: 600px;
  background: url(../../images/index.imgs/Изображение.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.arenda__row__col1 {
  height: 600px;
  background: url(../../images/index.imgs/фон\ для\ оффера.png);
  background-repeat: no-repeat;
  padding-top: 104px;
  padding-left: 160px;
}
.hr {
  margin-bottom: 30px;
  width: 264px;
  height: 5px;
  background: #fcb427;
}
.arenda__row__col2 img {
  padding-top: 460px;
}
@media screen and (max-width: 600px) {
  .arenda__row__col1 {
    padding: 50px;
    .hr {
      width: 100%;
    }
  }
  .arenda__row__col2 {
    img {
      width: 100%;
    }
  }
}

/*--- Texnika ----*/
.texnika__col6 {
  img {
    transform: translate(0, 50px);
  }
}
@media screen and (max-width: 1200px) {
  .texnika__col6 {
    img {
      width: 100%;
    }
  }
}

/*---- Nadejno -----*/
.nadejno {
  padding-top: 130px;
  background-color: #f3f3f3;
  .col-nadejno1 {
    h1 {
        padding-bottom: 50px;
      font-weight: 700;
      font-size: 40px;
      line-height: 141.69%;
      color: #424242;
    }
  }
}
@media screen and (max-width:380px) {
    .col-nadejno2 {
        flex-wrap: wrap;
    }
}

/*----proyect----*/
.eurocran {
    padding-top: 120px;
}

